/* ul{
    list-style-image: url(../image/image.png)
} */
 ul{
    list-style-type: none;
    padding: 0;
    border: 2px solid grey;
 }
 ul li{
    padding: 8px 16px;
    border-bottom: 1px solid gray;
 }