/* ul{
    list-style-image: url(../image/image.png)
} */
 /* ul{
    list-style-type: none;
    padding: 0;
    border: 2px solid grey;
 }
 ul li{
    padding: 8px 16px;
    border-bottom: 1px solid gray;
 } */
  ul{
   border-left: 5px solid green;
   background-color: blue;
   list-style-type: none;
   font-size: 20px;
   padding: 15px 25px;
  }