.test {
    font-size: 100px;
    color: lightblue;
    background-color: lightcyan;
    padding: 20px;
    margin-top: 100px;
    border: 2px solid black;
    text-align: center;
    transform: scale(2s);
    transition: 1s ease;
}

.test2{
    display: none;
}