:root{
    --primary-color: #06206a;
    --secondary-color: #fff;
    --padding: 20px;
}


h1{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--padding);
}

p{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--padding);
}