.navbar {
    display: flex;
    background-color: #333;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    display: flex;
    font-size: 16px;
    color: white;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    display: flex;
    overflow: hidden;
}
 
.dropdown .dropbtn {
    display: flex;
    align-items: center;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #4CAF50;
}