.navbar {
    display: flex;
    background-color: #333;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    display: flex;
    font-size: 16px;
    color: white;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    display: flex;
    overflow: hidden;
}
 
.dropdown .dropbtn {
    display: flex;
    align-items: center;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #4CAF50;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    top: 46px;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
}

.dropdown:hover .dropdown-content{
    display: block;
}

.column {
    display: flex;
    width: 33.33%;
    padding: 10px;
    background-color: #ccc;
    height: 250px;
    justify-content: center;
    flex-direction: column;
}

.column a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    text-align: left;
}
.column a:hover{
    background-color: #ddd;
}

.row {
    display: flex;
    flex-direction: row;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}