div#static {
    position: static;
    border: 3px solid #00014e;
    width: 250px;
    height: 250px;
    padding: 20px;
    margin-top: 20px;
}

div#relative {
    position: relative;
    border: 3px solid #00014e;
    width: 250px;
    height: 250px;
    padding: 20px;
    left: 200px;
    top: 20px;
}
div#fixed {
    position: fixed;
    border: 3px solid #00014e;
    width: 250px;
    height: 250px;
    padding: 20px;
    left: 600px;
    top: 70px;
}
div#parent {
    position: relative;
    border: 3px solid #00014e;
    width: 250px;
    height: 250px;
    margin-top: 20px;
}
div#absolute {
    position: absolute;
    border: 3px solid #00014e;
    width: 100px;
    height: 100px;
    left: 90px;
    top: 70px;
    background-color: #00014e;
    color: white;
}
div#sticky{
    position: sticky;
    top: 0;
    background-color: #00014e;
    color: white;
    padding: 20px;
}